@model JAMSv1._0.Models.Question
@{
    ViewBag.Title = "ThankYou";
}


<div class="thankyou">
    <h2>Thank you for applying!</h2>
</div>
<p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
<div class="thankyou">
    <h2>Learn more about Sogeti here:</h2>
</div>


<div class="sogetivideo">
    <embed width="640" height="385"
           src="http://www.youtube.com/v/jjQCNMnv4a0"
           type="application/x-shockwave-flash">
</div>

