@model JAMSv1._0.Models.Question
@{
    ViewBag.Title = "ThankYou";
}

<div id="progressbar">
    <div id="progressbar" class="all-rounded" style="width: 100%"><span></span></div>
</div>

<div class="thankyou">
    <h2>Thank you for applying!</h2>
</div>
<p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
<div class="thankyou">
    <h2>Learn more about Sogeti here:</h2>
</div>

    <p>What can we achieve together? Technology has redefined what’s possible in business. At Sogeti, our goal is to redefine what’s possible from a technology partner:</p>
    <ul>
        <li>Honesty — reflecting personal and business integrity, a sense of honor, respect for commitments and fairness in all contract pursuits and negotiations</li>
        <li>Boldness — a willingness to take risks, enthusiasm for new undertakings, questioning of what currently exists, enjoyment of competition and entrepreneurial audacity tempered by experience and wisdom</li>
        <li>Trust — designating responsibility to people and teams, shared decision-making, total openness and the free flow of information and ideas within our company</li>
        <li>Freedom — fostering independence of mind, judgment and action, the spirit of initiative and creativity, tolerance and respect for others who are different</li>
        <li>Team Spirit — solidarity, loyalty, camaraderie, and the willingness to share in our collective success</li>
        <li>Modesty — discretion, spontaneity, and openness in relationships</li>
        <li>Fun — achieving pride in our work while constantly striving for quality</li>
    </ul>  



<div class="sogetivideo">
    <embed width="640" height="385"
           src="http://www.youtube.com/v/jjQCNMnv4a0"
           type="application/x-shockwave-flash">
</div>

