@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        <a href="http://www.sogeti.com" target="_blank">
            <img src="pictures/sogeti.gif" alt="Sogeti" />
        </a>
    </p>	

    <h2>Job Application Management System</h2>
    <p class="lead">Please register and login before uploading your resume.  Thank you!</p>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr>          
                <td><input type = "file" name = "File" id = "File"/></td>
            </tr>
            <tr>             
               <td><input type ="submit"id ="upload" value="Upload"/></td>
            </tr>
        </table>
    if (TempData["notice"] != null)
    {
        <p>@TempData["notice"]</p>
    }
    }
</div>

