@{
    ViewBag.Title = "Upload";
}


<div class="jumbotron">

    <h2>Job Application Management System</h2>
    <p class="lead2">Please register and login before uploading your resume.  Thank you!</p>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr>
                <td> <label> &nbsp; </label> <input type="file" name="File" id="File" /></td>
            </tr>
            <tr>
                <td><input type="submit" id="upload" value="Upload" /></td>
            </tr>
        </table>
        if (TempData["notice"] != null)
        {
            <p>@TempData["notice"]</p>
        }
    }
</div>

